@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply font-sans text-gray-900 antialiased;
        overflow-x: hidden;
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
